*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: linear-gradient(#004070, #0F96AE);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
a{
  text-decoration: none;
}

.conteudo{
  display: flex;
  height: 100vh;
}
.descricao{
  margin: auto;
}

.conteudoIcone{
  display: flex;
}
.icone{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 0px 5px 5px #ffffff;
  padding: 7px;
  background-color: #ffffff;
}

h1{
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 5px;

}

.conteudoLink{
  display: grid;
  margin: 20px;
}
.divLink{
  display: flex;
  margin: 7px;
}
.link{
  min-width: 350px;
  background-color: #EF7D00;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: #ffffff;
  font-size: 16px;
  font-weight: bolder;
}

.link:hover{
  box-shadow: 0px 0px 8px 2px #F5C200;
}
